@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
}

.btn-icon {
  background-color: hsla(0, 0%, 100%, 0.08);
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.has-state {
  position: relative;
}
.has-state:hover {
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
}
.has-state:is(:focus, :focus-visible) {
  box-shadow: none;
}
.has-state::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  clip-path: circle(100% at 50% 50%);
  transition: 100ms ease;
}
.has-state:hover::before {
  background-color: hsla(0, 0%, 100%, 0.04);
}
.has-state:is(:focus, :focus-visible)::before {
  background-color: hsla(0, 0%, 100%, 0.08);
  animation: ripple 250ms ease forwards;
}

@keyframes ripple {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    clip-path: circle(180% at 50% 50%);
  }
}
.btn-primary {
  background-color: #B5A1E5;
  color: #100E17;
  height: 48px;
  max-width: max-content;
  line-height: 48px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 500px;
}
.btn-primary .span {
  font-weight: semi-bold;
}
.btn-primary[disabled] {
  background-color: #3E3D40;
  color: #7B7980;
  cursor: not-allowed;
}
.btn-primary[disabled]::before {
  display: none;
}

.fade-in {
  animation: fade-in 250ms ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 24px;
  }
  .title-1 {
    font-size: 1.8rem;
  }
  .section > .title-1 {
    margin-block-end: 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 40px;
  }
  .title-1 {
    font-size: 2.4rem;
  }
}
.header .btn-primary .span {
  display: none;
}

.logo img {
  width: 50px;
}

.header .container,
.header-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .container {
  justify-content: space-between;
}

.header-actions {
  gap: 16px;
}

.header .btn-primary {
  padding-inline: 12px;
}

.search-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh; /* for mobile browser*/
  background-color: #1D1C1F;
  color: #DDDAE5;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  clip-path: circle(40% at calc(100% - 102px) 5%);
  transition: clip-path 500ms ease;
}
.search-view.active {
  clip-path: circle(130% at 73% 5%);
  opacity: 1;
  visibility: visible;
}

.search-wrapper {
  position: relative;
  border-bottom: 1px solid #3E3D40;
}
.search-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  border: 3px solid #DDDAE5;
  border-block-start: transparent;
  border-radius: 50%;
  display: none;
  animation: loading 800ms linear infinite;
}
.search-wrapper:has(.searching)::before {
  display: block;
}
.search-wrapper .search-field {
  height: 80px;
  line-height: 80px;
  outline: none;
  padding-inline: 56px 16px;
}
.search-wrapper .search-field::placeholder {
  color: #B9B6BF;
}
.search-wrapper .search-field::-webkit-search-cancel-button {
  display: none;
}
.search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
}
.search-wrapper .search-icon {
  display: none;
}
.search-wrapper .btn-icon {
  background-color: transparent;
  box-shadow: none;
}

@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
.search-view .view-list {
  padding-block: 8px 16px;
}
.search-view .view-item {
  position: relative;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
}
.search-view .view-item :is(.icons, .item-subtitle) {
  color: #7B7980;
}

.search-view .view-item .item-link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}

@media (min-width: 768px) {
  .header-actions {
    gap: 24px;
  }
  .header .btn-primary {
    padding-inline: 16px 24px;
  }
  .header .btn-primary .span {
    display: block;
  }
  .search-view {
    clip-path: circle(3% at calc(100% - 273px) 6%);
  }
}
@media (min-width: 1200px) {
  .header {
    position: relative;
    height: 120px;
    z-index: 4;
  }
  .header .btn-icon {
    display: none;
  }
  .header .container {
    padding-block: 0;
    height: 100%;
  }
  .logo img {
    width: 200px;
  }
  .search-view.active {
    all: unset;
    display: block;
    position: relative;
    width: 500px;
    animation: none;
  }
  .search-view .view-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 360px;
    border-radius: 0 0 28px 28px;
    border-block-start: 1px solid #3E3D40;
    overflow-y: auto;
    overflow-y: overlay;
  }
  .search-view .view-list:empty {
    min-height: 120px;
  }
  .search-view .view-list::-webkit-scrollbar-button {
    height: 20px;
  }
  .search-view:is(:hover, :has(.view-list):hover) {
    filter: drop-shadow(0px 1px 3px hsla(0, 0%, 0%, 0.5));
  }
  .search-view:is(:focus-within, :has(.view-list):focus-within) {
    filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.4));
  }
  .search-wrapper {
    border-block-end: none;
  }
  .search-wrapper .search-icon {
    display: block;
  }
  .search-field,
  .search-view .view-list {
    background-color: #1D1C1F;
  }
  .search-field {
    height: 56px;
    border-radius: 28px;
  }
  .search-result,
  .search-view:not(:focus-within).search-result {
    display: none;
  }
  .search-view:focus-within .search-result.active {
    display: block;
  }
  .search-view:has(.search-result.active):focus-within .search-field {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.card {
  background-color: #1D1C1F;
  color: #DDDAE5;
}

.card-lg {
  border-radius: 28px;
  padding: 20px;
}

.card-sm {
  border-radius: 16px;
  padding: 16px;
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 5.6rem;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .card-lg {
    padding: 24px;
  }
  .card-sm {
    padding: 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
}
@media (min-width: 1200px) {
  .card-lg {
    padding: 36px;
  }
  .card-sm {
    padding: 24px;
  }
}
main {
  overflow: hidden;
  height: calc(100vh - 80px);
  height: calc(100svh - 80px); /*for mobile browser*/
}

article.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
  height: 100%;
  overflow-y: auto;
  overflow-y: overlay; /*for mobile browser*/
}
article.container::before {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  pointer-events: none;
  background-color: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
}

.section:not(:last-child) {
  margin-block-end: 16px;
}

.current-weather-card .wrapper {
  margin-block: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.current-weather-card .weather-icon {
  margin-inline: auto;
}
.current-weather-card .meta-list {
  margin-block-start: 16px;
  padding-block-start: 16px;
  border-block-start: 1px solid #3E3D40;
}
.current-weather-card .meta-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.current-weather-card .meta-item:not(:last-child) {
  margin-block-end: 12px;
}
.current-weather-card .meta-text {
  color: #7B7980;
}

@media (min-width: 768px) {
  main {
    height: calc(100vh - 96px);
    height: calc(100svh - 96px); /* for mobile browser*/
  }
  article.container {
    padding-block-start: 0;
    grid-template-columns: 330px minmax(0, 1fr);
    align-items: flex-start;
    gap: 20px;
  }
  .left-content {
    position: sticky;
    top: 0;
  }
  .section:not(:last-child) {
    margin-block: 20px;
  }
}
@media (min-width: 1200px) {
  main {
    height: calc(100vh - 120px);
    height: calc(100svh - 120px); /*for mobile browser*/
  }
  article.container {
    grid-template-columns: 390px minmax(0, 1fr);
    gap: 40px;
  }
  .current-weather .weather-icon {
    width: 80px;
  }
}
.forecast-card :is(.card-item, .icon-wrapper) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.forecast-card .card-item:not(:last-child) {
  margin-bottom: 12px;
}
.forecast-card .icon-wrapper {
  gap: 8px;
}
.forecast-card .label-1 {
  color: #7B7980;
  width: 100%;
  text-align: right;
}

@media (min-width: 768px) {
  .forecast-card .card-item:not(:last-child) {
    margin-block-end: 16px;
  }
}
@media (min-width: 1200px) {
  .forecast-card .title-2 {
    font-size: 2.2rem;
  }
}
.highlight-details {
  overflow: visible;
}

.highlight-detail-list {
  display: grid;
}
.highlight-detail-list .title {
  color: #7B7980;
}
.highlight-detail-list .card-sm {
  background-color: hsla(0, 0%, 0%, 0.1);
  position: relative;
}
.highlight-detail-list .highlight-card :is(.wrapper, .card-list, .card-item) {
  display: flex;
  align-items: center;
}
.highlight-detail-list .highlight-card .wrapper {
  justify-content: space-between;
  gap: 16px;
}
.highlight-detail-list .highlight-card .card-list {
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 8px;
}
.highlight-detail-list .highlight-card .card-item {
  width: 50%;
  justify-content: flex-end;
  gap: 4px;
}
.highlight-detail-list .highlight-card .label-1 {
  color: #7B7980;
}
.highlight-detail-list .highlight-card .two .card-item {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px 16px;
}
.highlight-detail-list .badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px 12px;
  border-radius: 500px;
  cursor: help;
  color: #7B7980;
}
.highlight-detail-list .aqi-1 {
  background-color: #89E589;
  color: #1F331F;
}
.highlight-detail-list .aqi-2 {
  background-color: #E5DD89;
  color: #33311F;
}
.highlight-detail-list .aqi-3 {
  background-color: #E5C089;
  color: #332B1F;
}
.highlight-detail-list .aqi-4 {
  background-color: #E58989;
  color: #331F1F;
}
.highlight-detail-list .aqi-5 {
  background-color: #E589B7;
  color: #331F29;
}

.slider-container {
  overflow-x: auto;
  margin-inline: -16px;
}
.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-list {
  display: flex;
  gap: 12px;
}
.slider-list :first-child {
  margin-block-end: 16px;
}
.slider-list::before, .slider-list::after {
  content: "";
  max-width: 4px;
}

.slider-item {
  min-width: 110px;
  flex: 1 1 100%;
}
.slider-item .weather-icon {
  margin-inline: auto;
  margin-block: 12px;
}

.slider-card {
  text-align: center;
}

@media (min-width: 768px) {
  .badge {
    top: 20px;
    right: 20px;
  }
  .highlight-detail-list {
    grid-template-columns: 1fr 1fr;
  }
  .highlight-card:nth-child(-n+2) {
    grid-column: span 2;
    height: 160px;
  }
  .highlight-card:nth-child(n+3) {
    height: 120px;
  }
  .highlight-card.one .card-item {
    width: 25%;
    flex-direction: column-reverse;
    gap: 4px;
  }
  .slider-container {
    margin-inline: 0 -24px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  }
  .slider-list::before {
    display: none;
  }
  .slider-list::after {
    min-width: 12px;
  }
  .hourly-forecast .card-sm {
    padding: 16px;
  }
}
@media (min-width: 1200px) {
  .highlight-card.two .card-item {
    column-gap: 24px;
  }
  .highlight-card:nth-child(-n+2) {
    height: 200px;
  }
  .highlight-card:nth-child(n+3) {
    height: 150px;
  }
  .slider-list {
    gap: 16px;
  }
}
@media (min-width: 1400px) {
  .highlight-detail-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131214;
  place-items: center;
  z-index: 1;
  display: none;
}
.loading::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 4px solid #EAE6F2;
  border-block-start-color: transparent;
  border-radius: 50%;
  animation: loading 800ms linear infinite;
}

.error-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: #131214;
  display: none;
  z-index: 8;
}
.error-content .btn-primary {
  margin-block-start: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
input {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #131214;
  color: #EAE6F2;
  font-size: 1.6rem;
  height: 300vh;
}

:focus-visible {
  outline: 2px solid hsl(0, 0%, 100%);
  outline-offset: 2px;
}

::selection {
  background-color: hsla(0, 0%, 100%, 0.08);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; /*for horizontal scrollbar*/
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 500px;
}

/*# sourceMappingURL=main.css.map */
