@use '../abstracts/variables' as *;

.card{
        background-color: $surface;
        color: $on-surface;
}

.card-lg{
        border-radius: $radius-extra-large;
        padding: 20px;
}

.card-sm{
        border-radius: $radius-large;
        padding: 16px;
}

.heading{
        color: $white;
        font-size: 5.6rem;
        line-height: 1.1;
} 

@media (min-width: 768px){
        .card-lg{
                padding: 24px;
        }

        .card-sm{
                padding: 12px;
                display: grid;
                grid-template-rows: min-content 1fr;
        }
}

@media (min-width: 1200px){
        .card-lg{
                padding: 36px;
        }
        .card-sm{
                padding: 24px;
        }
}