@use '../abstracts/variables' as *;

.container {
        max-width: 1600px;
        width: 100%;
        margin-inline: auto;    
        padding: 16px;
}

.btn-icon{
        background-color: $white-alpha-8;
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;
        border-radius: $radius-circle;
}

.has-state {
        position: relative;
      
        &:hover {
                box-shadow: $shadow-1;
        }
      
        &:is(:focus, :focus-visible) {
                box-shadow: none;
        }
      
        &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                clip-path: circle(100% at 50% 50%);
                transition: 100ms ease;
        }
      
        &:hover::before {
                background-color: $white-alpha-4;
        }
      
        &:is(:focus, :focus-visible)::before {
                background-color: $white-alpha-8;
                animation: ripple 250ms ease forwards;
        }
}
      
@keyframes ripple{
        0%{
                clip-path: circle(0% at 50% 50%);
        }
        100%{
                clip-path: circle(180% at 50% 50%);
        }
}

.btn-primary {
        background-color: $primary;
        color: $on-primary;
        height: 48px;
        max-width: max-content;
        line-height: 48px;
        padding-inline: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        border-radius: $radius-pill;

        .span{
                font-weight: semi-bold;
        }
        &[disabled] {
                background-color: $outline;
                color: $on-surface-variant;
                cursor: not-allowed;
        }
        &[disabled]::before{
              display: none;  
        }

}

// .icons{
//         height: 1em;
//         width: 1em;
//         color: $white;
//         overflow: hidden;
// }       