@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.forecast-card {
        :is(.card-item, .icon-wrapper) {
            @include flex(row, flex-start, center);
        }
    
        .card-item:not(:last-child) {
            margin-bottom: 12px;
        }

        .icon-wrapper{
                gap: 8px;
        }

        .label-1{
                color: $on-surface-variant;
                width: 100%;
                text-align: right;
        }
}

@media (min-width: 768px){
        .forecast-card{
                .card-item:not(:last-child){
                       margin-block-end: 16px;
                }
        }
}

@media (min-width: 1200px){
        .forecast-card{
                .title-2{
                        font-size: 2.2rem;
                }
        }
}
    
